<div class="container" id="login-block"><!-- start Login box -->
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <div class="login-box clearfix animated flipInY">
                <div class="page-icon animated bounceInDown">
                    <img src="images/user-icon.png" alt="Key icon" />
                </div>
                <div class="login-logo">
                    <h3>{{title}}</h3>
                    <a><img src="images/phylo1.png" width="100px" height="100px" class="img-circle" alt="{{title}}" /></a>
                </div> 
                <hr />
                <div class="login-form">
                    <div class="alert alert-danger alert-dismissible fade in hide" id="loginError"> <!-- Start Error box -->
                        <button type="button" class="close" id="loginErrorClose"> &times;</button>
                        <h4>Error!</h4><span id="loginErrorMsg"></span>
                    </div> <!-- End Error box -->
                    <form id="login-form">
                        <input type="text" placeholder="User name" class="input-field" name="username" id="txtUsername" tabindex="1"/> 
                        <input type="password"  placeholder="Password" class="input-field" name="password" id="txtPassword" tabindex="2"/> 
                        <a class="btn btn-login" id="btnLogin" tabindex="3">Login</a> 
                    </form>
                    <div class="login-links"> 
                        <!-- <a href="#">Forgot password?</a><br /> -->
                       <a href="user/signup">Don't have an account? <strong>Sign Up</strong></a>
                    </div> 
                </div> 			        	
            </div> 
        </div>
    </div>
</div> <!-- End Login box -->