<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="images/phylo1.png" type="image/x-icon">
<link rel="icon" href="images/phylo1.png" type="image/x-icon">
<link href="stylesheets/font-awesome.min.css" type="text/css" rel="stylesheet"/>
<link href="stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet"/>
<link href="stylesheets/animate-custom.css" type="text/css" rel="stylesheet"/>
<link href="stylesheets/style.css" type="text/css" rel="stylesheet"/>  