<div class="login-form">
    <h1>Booking Form</h1>
    <form action="/openlib/book" method="POST">
        <input type="text" name="isbn" placeholder="ISBN" required>
        <input type="submit" placeholder="Get Book">
    </form>
</div>
