<div class="login-form">
    <h1>Login Form</h1>
    <form action="/auth/login" method="POST">
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="submit" placeholder="Login">
    </form>
    <center><a href="/signup">Didn't register yet?</a></center>
</div>

