<div class="login-form">
    <h1>Movie Form</h1>
    <form action="/omdb/movie" method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="year" placeholder="Year" required>
        <input type="text" name="plotVersion" placeholder="Plot Version" required>
        <input type="submit" placeholder="Get Movie">
    </form>
</div>
