<div class="login-form">
	<button class="button button5" id="getMovie">Get Movie</button>
	<button class="button button5" id="getBook">Get Book</button>
</div>
<script type="text/javascript">
    document.getElementById("getMovie").onclick = function () {
        location.href = "/movie";
    };

	document.getElementById("getBook").onclick = function () {
        location.href = "/book";
    };
</script>